:root {
  --edit_color: #F5B7B7;
  --bg_color: #282c34;
  --bg_color_lighter: #41464E;
  --scale_factor: 1.1;
}

.App {
  overflow-x: hidden;
  overflow-y: hidden;
}

:focus {
  outline: none !important;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 0s 50000s;
}

.App::-webkit-scrollbar { width: 0 !important }

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: var(--bg_color);
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App-link {
  color: #61dafb;
}

.App-spinny{
  animation: App-logo-spin infinite 10s linear;

}

.App-follow{
  position:absolute;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(var(--scale_factor));
  }
  100%{
    transform: scale(1);
  }
}


.Pens-container {
  background-color: transparent;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: 8vmax;
  max-height: 100px;
  display: flex;
  position: absolute;
  bottom: 0;
  transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 250ms ease-in-out; /* Safari 和 Chrome */
  -o-transition: all 250ms ease-in-out; /* Opera */

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

}

.Pens{
}

.Pen{
  border: 1px solid darkgray;
  transition: border 0.2s ease-in-out;
  box-shadow: 5px 0px 20px 4px rgba(0, 0, 0, 1);

}

.Pen:hover{
  border: 1px solid #D0E4F5;
}

.Pen-Arrow{
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  transition: text-shadow 0.2s ease-in-out;
}

.Pen-Arrow:hover{
  text-shadow: 0 0 15px #fff;
}

.Pen-image {
  filter: brightness(0) invert(1) drop-shadow(16px 16px 20px var(--edit_color));
  transition: 0.2s ease-in-out;
}

.Pen:hover .Pen-image{
  transform: scale(1.05);
}

.AssetDrawer {
  position: absolute;
  right:0;
  background-color: var(--bg_color_lighter);
  box-shadow: -5px 0px 50px 10px #000;
  transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out; /* Firefox 4 */
  -webkit-transition: all 250ms ease-in-out; /* Safari 和 Chrome */
  -o-transition: all 250ms ease-in-out; /* Opera */

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.ADrawer-Asset{
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

.ADrawer-Asset:hover{
  border: 1px solid #D0E4F5;
}


.ADrawer-Arrow{
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  transition: 0.2s ease-in-out;
}

.ADrawer-Arrow:hover{
  text-shadow: 0 0 15px #fff;
}


.EditorHoverButton{
  border-radius: 7px;
  transition: 0.2s ease-in-out;
}

.EditorHoverButton:hover{
  background: rgba(0, 0, 0, 0.1);
}

.EditorHoverButton:active{
  background: darkgray;
}

.EditorSuggestion{
  color: gray;
  transition: color 0.2s ease-in-out;
}

.EditorSuggestion:Hover{
  color: black;
}
